@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --lightgrey: 0 0% 96%;
    --darkgrey: 0 0% 88%;
    --foreground: 0 0% 8%;
    --hover: 233 67% 80%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 233 75% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 8%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --ring: 233 75% 50%;
    --radius: 50px;
    --defaultShadow: 0px 2px 4px 0px rgba(21, 21, 21, 0.12);
  }
}

* {
  box-sizing: border-box;
  font-family: var(--font-samsung), sans-serif;
  font-weight: 600;
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 6px;
  background: #fff;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #dbdadd;
  border-radius: 6px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #dbdadd;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

#nprogress .bar {
  @apply bg-primary !important;
}

#nprogress .peg {
  @apply shadow-md shadow-primary !important;
}

#nprogress .spinner-icon {
  @apply border-t-primary border-l-primary !important;
}
